.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  justify-content: center;
  align-items: center;
}
.club {
  width: 20%;
  padding: 10px;
}
.stadium-img {
  width: 60%;
  height: 600px;
}
.middle-contaiiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: auto;
  width: 100%;
}
.club-details {
  text-align: center;
  font-size: bold;
}
.stadium {
  width: 20%;
  height: 100%;
  padding: 10px;
}
.club-details {
  text-align: center;
  font-size: bold;
}
.search-input {
  width: 80%;
  height: 50px;
  margin: 20px;
}
h2 {
  font-weight: bold;
}
